# Importing important library for data analysis

In [1]:
import numpy as np    # linear algebra
import pandas as pd   # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt  # plotting

# Data preparation

In [2]:
# reading the data
exercise_data=pd.read_excel('Exercise Data.xlsx',names=['Month','Contribution','Amount won by the bidder','Chit fund organizer commission','Net amount recd by Bid winner','Amount returned to everyone in the group'])
#drop 1st row of data
exercise_data=exercise_data.drop(0)
exercise=exercise_data
#showing top 10 rows of data
exercise_data.head(n=10)

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group
1,1,2000,40000,2500,37500,400
2,2,2000,42000,2500,39500,320
3,3,2000,45000,2500,42500,200
4,4,2000,48000,2500,45500,80
5,5,2000,40000,2500,37500,400
6,6,2000,42000,2500,39500,320
7,7,2000,43000,2500,40500,280
8,8,2000,44000,2500,41500,240
9,9,2000,40000,2500,37500,400
10,10,2000,42000,2500,39500,320

In [3]:
print(exercise_data.shape)  
exercise_data.describe() #it discribe important aspect of data

(25, 6)

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group
count,25,25,25,25,25,25
unique,25,1,10,1,10,10
top,25,2000,42000,2500,39500,320
freq,1,25,5,25,5,5

# Calculation for Total returns

In [4]:
# converting data into numpy array type
exercise_data=exercise_data.values  
Total_returns=[]
amount_return_to_everyone=int(0)
for i in range(25):
    amount_return_to_everyone+=(exercise_data[i][5])
for i in range(25):
    Total_returns.append(exercise_data[i][4]+amount_return_to_everyone)
Total_returns=np.array(Total_returns,dtype='int32')  #converting list to numpy array

# Calculation for annual returns

In [5]:
annual_return=(Total_returns*(12/25))

# Calculation for return percentage

In [6]:
return_percentage=(Total_returns*(100/50000))

# Annualizer return of the person who bids in last and first month

In [7]:
print('Annualized  Return of the person who bids in the last month is: {}'.format((annual_return[-1])))
print('Annualized Return of the person who bids in the first month is: {}'.format((annual_return[0])))

Annualized  Return of the person who bids in the last month is: 25776.0
Annualized Return of the person who bids in the first month is: 20976.0

# Adding Total return,annualized return,return percentage column in exercise data

In [8]:
exercise['Total Return']=Total_returns
exercise['Annualized Return']=annual_return
exercise['Return Percentage']=return_percentage

# Converting given data in the form of excel data

In [9]:
exercise.to_excel('exercise data output.xlsx')